/* Phần dùng chung */

:root {
    --border-color: #dbdbdb;
    --primary-color: #60C5CD;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --header-height: 80px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 1rem == 10px  ---> 12px ==> 1.2rem*/
    line-height: 1.6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}


/* Animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Header */

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #0086e6, #CDB3D4);
    position: relative;
    top: 0;
}

.header__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
    transform: translateY(14px);
    text-transform: uppercase;
}

.header__logout-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px 18px;
}


/* Container */

.container__head {
    height: 160px;
    background-color: #d9d9d9;
    width: 100%;
}

.head__navbar-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.head__navbar-form-table {
    transform: translateY(5px);
}

.head__navbar-form-action {
    transform: translateY(3px);
}

.head__navbar-form-btn {
    display: flex;
    justify-content: space-between;
}

.submit-btn,
.reset-btn {
    padding: 8px 16px;
}

.head__navbar-form-btn .reset-btn {
    transform: translateX(2rem);
}


/* Tạo kiểu cho radio button tùy chỉnh */

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 12rem;
    max-width: 14rem;
    text-align: center;
    background-color: #A5AAD8;
}


/* Tạo kiểu cho radio button khi được chọn */

input[type="radio"]:checked+label {
    background-color: #198CE4;
    color: #fff;
}


/* Các Form thêm*/

.form-display {
    display: none;
}

.container__content {
    position: relative;
    top: 4rem;
    background-color: #8ae3be;
    font-size: 1.5rem;
}

.container__content .table {
    margin-left: 1rem;
}

.container__form {
    display: flex;
    justify-content: center;
}

.container__form-content {
    width: 600px;
    max-width: 800px;
    padding: 1rem 0 2rem;
}

.form-label {
    font-size: 1.5rem;
}

.container__form .add-btn {
    padding: 7px 28px;
}

.form__footer_btn-reset {
    transform: translateX(10px);
    padding: 7px 20px;
}

/* Phân trang */
.pagination {
    display: flex;
    position: relative;
    list-style: none;
    padding: 0;
    justify-content: center;

}

.pagination li {
    margin-right: 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
    cursor: pointer;
    background-color: #fff;
}

.pagination li a:hover {
    background-color: #f1f1f1;
}

.pagination li.active a {
    background-color: #4CAF50;
    color: white;
}
